<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="GeminiApiKey" value="AIzaSyAjkscAxtvhwMy6pRMYZ-LMe1C7zXwHX-A" />
	</appSettings>
	<connectionStrings>
		<add name="OnlineShopDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase.mdf;Integrated Security=True;Connect Timeout=30;Application Name=OnlineShop" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="300" />
		<pages controlRenderingCompatibilityVersion="4.0" enableViewState="true" enableViewStateMac="true" />
		<customErrors mode="Off" />
		<sessionState mode="InProc" timeout="30" />
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" defaultUrl="~/Home.aspx" timeout="2880" slidingExpiration="true" cookieless="UseCookies" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>

	<!-- Admin Pages Configuration -->
	<location path="Admin">
		<system.web>
			<authorization>
				<deny users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<handlers>
			<add name="ASHX" path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory" />
		</handlers>
		<staticContent>
			<remove fileExtension=".webp" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="application/javascript" />
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>


